@property --percent {
  syntax: "<length>";
  inherits: false;
  initial-value: calc((1vw + 1vh) / 2);
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#tilted-container {
  width: calc(100vw - var(--percent) * 10);
  height: calc(100vh - var(--percent) * 10);
  margin: calc(var(--percent) * 5);
  overflow: hidden;
  border: 1px solid #000000;
}